@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

.Content-Container {
  margin: 10px;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #de7c5a;
  height: 100vh;
  overflow: auto;
  border-radius: 32px;
  width: 80vw;
  border: 4px double white;
  text-align: center;
}

.content-title {
  font-family: 'Fast hand';
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 2rem;
  border-bottom: 5px double white;
}
