article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b10f2e;
  width: 100vw;
  height: 100vh;
  height: fit-content;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80vw;
  margin: 20px;
}

.body_input {
  height: 8vh;
  margin: 5px;
  font-size: 1rem;
  text-align: center;
}
.username_input {
  margin: 5px;
  font-size: 1rem;
  text-align: center;
}

.username_input,
.body_input {
  background: transparent;
  margin: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
}
.comment-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.attributes-block {
  text-shadow: 1px 0px 1px wheat;
  color: white;
  border-radius: 32px;
  background-color: #570000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  font-size: 0.8rem;
}

.FullArticle_title {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 1rem;
  text-transform: uppercase;
}

.FullArticle_body {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 0.8rem;
  width: 100%;
  padding: 10px;

  height: fit-content;
  width: fit-content;
}

.full-article-container {
  background-color: #de7c5a;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;

  width: 90vw;
  margin: 20px;
  height: fit-content;
}

.loading-container {
  height: 100vh;
  background-color: #b10f2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.loading {
  text-transform: uppercase;
  font-family: "Fast hand";
  color: white;
  text-shadow: 2px 2px 2px black;
  animation-name: pulse;
  animation-duration: 3s;
}

.circle {
  margin: 20px;
  font-size: 4rem;
  animation-name: circle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.comments_title {
  color: white;
  display: flex;
  width: 90vw;

  justify-content: space-evenly;
}
.temp-comment-div {
  background-color: #b10f2e;
  height: 19vh;
  overflow: hidden;
}

.show-more {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.show-more:hover {
  opacity: 0.4;
  cursor: pointer;
}

.show-more:active {
  color: black;
}

@keyframes circle {
  0% {
    text-shadow: 1px 1px 30px blue;
  }
  25% {
    text-shadow: 1px 1px 30px purple;
  }
  50% {
    text-shadow: 1px 1px 30px yellow;
  }
  75% {
    text-shadow: 1px 1px 30px purple;
  }
  100% {
    text-shadow: 1px 1px 30px blue;
  }
}
